* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

body {
    a {
        text-decoration: none;
    }
}

.container-fluid {
    .navbar-brand {
        color: #000080;
    }

    button {
        color: #000080;
        border-color: #000080;
    }

    button:hover {
        background-color: #000080;
        color: aliceblue;
    }

}


.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 25px;
    font-size: larger;

    i {
        color: #000080;
    }

    i:hover {
        color: #111827;
    }
}










.card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
    padding: 5%;
    width: 50%;
    animation: slideLeft 1.2s ease forwards;

    h1 {
        font-size: 100px;
        line-height: 100px;
        backdrop-filter: blur(2px);
        font-weight: 900;
    }

    a {
        text-decoration: none;
        color: #000080;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    a:hover {
        color: white;
        background-color: #000080;
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}










.main-categories {
    margin: 40px;

}


.heading-catogaries {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: #000080;
        font-weight: 900;
    }

    a {
        text-decoration: none;
        font-size: larger;
    }
}

.category-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin: 40px 0;

    a {
        text-decoration: none;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: transform 0.5s;
            border-radius: 16px;
        }

        img:hover {
            transform: scale(1.1);
        }

        h3 {
            padding-top: 10px;
            color: #000080;
        }
    }

}













.main-fproducts {
    margin: 40px;
}

.fproducts {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}



.products-card {
    padding: 20px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

    img {
        width: 100%;
        height: 220px;
        object-fit: fill;
    }

}

.products-card:hover {
    transform: translateY(-5px);
}

.card-body {

    h6 {
        font-size: 12px;
        color: #777;
        margin: 20px 0 5px 0;
    }

    h2 {
        color: #000080;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    h3 {
        font-weight: bold;
        font-size: 15px;
    }

    .btn {
        margin-top: 12px;
        width: 100%;
        padding: 8px;
        border: none;
        background: #000080;
        color: white;
        border-radius: 6px;
        cursor: pointer;
    }

    .btn:hover {
        background: #111827;
        color: white;
    }

}







.main-shop {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 20px;

}

@media (max-width: 600px) {
    .main-shop {
        grid-template-columns: auto;
    }
}


.shop-sidebar {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .side-head {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .side-check {
        display: flex;
        flex-direction: column;
        font-size: larger;
    }
}









#main_cart .cart_table {
    margin: 0 110px;

    th {
        width: 600px;
        background-color: #000080;
        color: white;
        text-align: left;
        padding: 20px 10px;
        border-bottom: .5px solid;
        font-size: 20px;
    }

    td {
        padding: 20px 0;
        border-bottom: .5px solid;
        vertical-align: top;
    }
}

.cart_heading {
    margin-top: 100px;
    text-align: center;
    color: #000080;
}

.cart_img img {
    width: 100px;
    padding: 10px;
}

.detail {
    padding-left: 20px;

    a {
        color: gray;
        font-size: 17px;
    }

    a:hover {
        color: #000080;
    }
}


#cart_total {
    margin: 20px 110px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total_checkbox {
    margin: 20px 0;
}

.total_amount {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total_checkout {
    display: flex;
    flex-direction: column;

    button {
        width: 400px;
        height: 35px;
        color: white;
        background-color: #000080;
        border-color: #000080;
        margin: 20px 0;
    }

    button:hover {
        background-color: #111827;
        color: white;
    }
}










.main-card {
    max-width: 900px;
    margin: 20px 170px;
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}


.left-card {
    width: 50%;
    padding: 30px 40px;
    color: #000080;
    backdrop-filter: blur(20px);
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    h1 {
        font-size: 39px;
        text-align: center;
    }

    .btn {
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 40px;
        background-color: #000080;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

}



.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

    input {
        width: 100%;
        height: 100%;
        padding: 20px 45px 20px 20px;
        background: transparent;
        border: 2px solid #000080;
        border-radius: 40px;
        outline: none;
        color: #000080;
        font-size: 16px;
    }

    input::placeholder {
        color: #000080;
    }

    i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }
}



.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin: -10px 0 20px;

    input {
        /* accent-color: #fff; */
        margin-right: 4px;
    }

    a {
        color: #000080;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}




.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14.5px;

    a {
        color: #000080;
        font-weight: 600;
        text-decoration: none;

    }

    a:hover {
        text-decoration: underline;
    }

}


.right-card {
    width: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}










#main_product {
    display: flex;
    margin: 100px 120px;
}


#main_proimages {
    width: auto;
    height: auto;

}

#pro_desc {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h5 {
        color: #000080;
        font-weight: bold;
    }
}

.desc_watch {
    display: flex;
    gap: 10px;

    p {
        color: gray;
    }
}


.desc_quantity {
    div {
        padding: 20px 0;
        display: flex;

        input {
            width: 100px;
            height: 40px;
            text-align: center;
            margin-right: 20px;
            border: 1px solid gray;
            border-radius: 3px;
        }

        button {
            width: 200px;
            height: 40px;
            color: #EDE7F6;
            background-color: #000080;
            border-color: #000080;

        }

    }


}


.desc_detail {
    div {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 0;
    }
}









.dashboard {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
}


.sidebar {
    border-right: 1px solid #ddd;
    padding: 20px;
}

.side-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
        padding: 10px;
        margin-bottom: 8px;
        border: none;
        background: #f1f1f1;
        cursor: pointer;
        border-radius: 6px;
    }

    button:hover {
        background: #000080;
        color: white;
    }
}

.logout {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background: #000080;
    cursor: pointer;
    border-radius: 6px;
    color: white;

}


.main {
    padding: 20px
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
        color: #000080;
        font-weight: 700;
    }

    button {
        padding: 15px 20px;
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #000080;
        color: white;
    }
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.stats-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .05);

    .green {
        color: green
    }

    .red {
        color: red
    }
}


.table-box {
    padding: 40px;

    h3 {
        color: #000080;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #000080;
            color: white;
        }

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #eee;
            text-align: left;

            button {
                font-size: smaller;
                padding: 5px 10px;
                border-radius: 10px;
                margin-left: 10px;
                border-color: #000080;
                background-color: white;
            }

            button:hover {
                background-color: #000080;
                color: white;
            }
        }
    }
}













.footer {
    padding: 20px;
    background: #000080;
    color: white;
}

.footer-brand {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.footer-text {
    margin-top: 20px;
    color: #9ca3af;
    font-size: 14px;
}

.footer-link {
    h6 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    a {
        color: #9ca3af;
        text-decoration: none;
        font-size: 14px;
        display: block;
        margin-bottom: 6px;
    }

    a:hover {
        color: white;
    }

}


.newsletter-input {
    background: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #1f2937;
}


.copyright {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #1f2937;
    margin-top: 40px;
    padding-top: 20px;
    color: #6b7280;
    font-size: 13px;
}









@media (max-width: 992px) {
    .card-img-overlay {
        width: 70%;
        margin-left: 40px;

        h1 {
            font-size: 60px;
            line-height: 65px;
        }
    }

    .dashboard {
        grid-template-columns: 1fr
    }

    .sidebar {
        flex-direction: row;
        overflow-x: auto
    }
}



@media (max-width: 600px) {

    .card-img-overlay {
        width: 100%;
        margin-left: 0;
        padding: 20px;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 36px;
            line-height: 40px;
        }

        a {
            padding: 8px 14px;
            font-size: 14px;
        }
    }

    .cart_heading {
        margin-top: 60px;
        font-size: 22px;
        padding: 0 10px;
    }

    #main_cart .cart_table {
        margin: 0 10px;
        overflow-x: auto;
        display: block;

        table {
            min-width: 600px;
        }

        th {
            font-size: 12px;
            padding: 12px 6px;
        }

        td {
            padding: 12px 4px;
            font-size: 10px;

            h3 {
                font-size: 12px;
            }
        }
    }

    .cart_img img {
        width: 70px;
        padding: 5px;
    }

    .detail {
        padding-left: 10px;

        a {
            font-size: 12px;
        }
    }

    #cart_total {
        margin: 20px 10px;
        align-items: stretch;
    }

    .total_amount {
        font-size: 14px;
    }

    .total_checkout button {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }


    .navbar,
    .main-card {
        margin: 20px;
        padding: 20px;
    }

    .main-card {
        flex-direction: column-reverse;
    }

    .left-card,
    .right-card {
        width: 100%;
    }

    .right-card {
        height: 250px;
    }
}